[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
vacances-scolaires-france = "*"
plotly = "*"
prophet = "*"
scipy = "*"
pipreqs = "*"

[dev-packages]

[requires]
python_version = "3.10"
